<p>
  <label>Exclude users (IDs) from worklogs:</label>
  <%= text_field_tag 'settings[WORKLOGS_UN_IDS]', settings['WORKLOGS_UN_IDS'] || '' %>
  <br/>
  <em>Input the user ids, split by ','.</em>
</p>

<p>
  <label>Global manager mail:</label>
  <%= text_field_tag 'settings[WORKLOGS_MAIL_CC]', settings['WORKLOGS_MAIL_CC'] || '' %>
  <br/>
  <em>Input mail for global manager.</em>
</p>

