<h1>Users who did not create the worklog:</h1>
<p><b>Day: <%= @day %></b></p>
<table width="100%">
  <% @all_need_worklogs_users.each do |user| %>
      <tr>
        <td width="10%">ID</td>
        <td width="90%">User</td>
      </tr>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name() %></td>
      </tr>
  <% end %>
</table>
