<h1>Users who did not create the worklog:</h1>
<p><b>Day: <%= @day %></b></p>
<ul>
  <% @all_need_worklogs_users.each do |user| %>
      <li><%= user.name() %> | id: <%= user.id %></li>
  <% end %>
</ul>
