<p>
  You have not created a worklog. Please create new worklog: <a href="https://projects.anjep.com/worklogs/new" title="Create new worklog.">create</a>.
</p>
</br>
<%= textilizable(Setting.plugin_worklogs['WORKLOGS_MAIL_FOOTER']) %>
